.logoutdiv{
	float:right;
	width:300px;
	font-family: 'Nanum Myeongjo', serif;
	font-size:15px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	position:relative;
	bottom:90px;
	left:5%;
}

.logoutdiv > img {
	margin-left:30px;
}

#content1, #content2 {
	height:700px;
}

#noticeh1 {
	padding: 50px 0;
	font-weight: 400;
	font-size:1.5em;
	text-align: center;}

#ptag {
	margin: 0 0 20px;
	line-height: 1.5;}

.maindmenu {
	min-width: 320px;
	max-width: 800px;
	padding: 50px;
	margin: 0 auto;
	background: #ffffff;
	margin-top:150px;
}

section {
	font-family:"맑은 고딕";
	display: none;
	padding: 20px 0 0;
	border-top: 1px solid #ddd;}				

/*라디오버튼 숨김*/
  
.maindmenu>input {
	  display: none;}  

label {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	color: #bbb;
	border: 1px solid transparent;}

label:hover {
	color: #2e9cdf;
	cursor: pointer;}

/*input 클릭시, label 스타일*/
input:checked + label {
	  color: #555;
	  border: 1px solid #ddd;
	  border-top: 2px solid #2e9cdf;
	  border-bottom: 1px solid #ffffff;}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2{
	display: block;}
	
#trTable{
	line-height:2em;		
	font-family:"맑은 고딕";
	margin:0 auto; 
	text-align:center;
	font-size:13pt;
	padding:5px;
	min-width: 320px;
	max-width: 800px;		
}		

td{ 
	list-style:none;
	text-align:center;
	padding:30;
	margin:0;
	font-family:"맑은 고딕";			
}

#mainWrapper{			
	margin: 0 auto; /*가운데 정렬*/
	min-width: 320px;
	max-width: 800px;					
	padding: 50px 25px;
}
	
td { 
	float:left;
	border-bottom:1px solid silver;			
}   

#divPaging {
	clear:both; 
	margin:0 auto; 
	width:300px; 
	height:50px;
	margin-top:100px;		
	margin-left:35%;
}

#divPaging > div {
	float:left;
	width: 30px;
	margin:0 auto;
	text-align:center;
 }

.left {
	text-align : left;
}

#div {clear:both;}
	
#div {
	margin:0 auto;
	margin-top: 30px; 
	width:auto; 
	height:100px; 
	text-align:center;
}	
#div2 {
	margin:0 auto; 	
	padding:5px;
	min-width: 320px;
	max-width: 800px;
	margin-bottom: 50px;    
}	

#b1{
	margin-top: 30px;
	background:white;
	font-size: 15px;
	border:1px solid gray;	
}

#b2{
float: right;
margin-right:35px;
height:25px;
background:white;
border:1px solid gray;
}

a{
	text-decoration:none;
	color:black;
}

tr{
	height:32px;
}

#searchbtn{
	background-image:url("search.jpg");
	background-repeat:no-repeat;
	background-size: 30px;
	width:36px;
	height:36px;
	border:3px solid white;
	position:relative;
	top:10px;
}

#table_hide {
	height:300px;
	display:none;
}

#table_hide > td {
	height:300px;
	padding-top:200px;
}

body {
	height:2000px;
}

#topmenumain {
	width:100%;
	position:absolute;
	top:240px;
}	