div{
	font-family: 'Song Myung', serif;
	font-size:20px;
}
.d1{
	position:absolute;
	left:29%;
	top:40px;
}
.d2{
	position:absolute;
	left:20%;
	top:150px;
}
.d3{
	position:absolute;
	left:20%;
	top:200px;
}
a{
	text-decoration: none;
	color:black;
	font-family: 'Song Myung', serif;
	font-size:18px;
}
.a1{
	position:absolute;
	left:27%;
	top:250px;
}
.a2{
	position:absolute;
	left:47%;
	top:250px;
}
button{
	position:absolute;
	left:33%;
	top:155px;
	width:80px;
	height:70px;
	background-color:#FAAC58;
	border:1px   white;
	font-family: 'Song Myung', serif;
	font-size:15px;
	margin-left:210px;
}
#onejoin2{
	opacity:0;
}
[name=loginln]{
	margin-top:17%;
	margin-left:27%;
}
.onjo2div{
	position:relative;
	width:50%;
	left:200px;
	bottom:67px;
}