div{	
	text-align:center;
}
.div1{
	font-size:30px;
	margin-top:120px;
}
.div2{
	font-size:21px;
	margin-top:70px;
	background:orange;
	font-weight:800;
	width:100px;
	height:50px;
	line-height:45px;
	margin-left:140px;
	cursor:pointer;
}