td{ 
	list-style:none;
	text-align:center;
	padding:30;
	margin:30;
}

#th1,#th3{
	background-color:#c9c9c9;
}

#td1{
	background-color:#c9c9c9;
}

 article{
	font-family:"맑은 고딕";
	min-width: 320px;
	max-width: 800px;
	padding: 50px;
	margin: 0 auto;
	height:700px;
}
	
.div1{
	background-color:#c9c9c9;
	width:300px;
	height:30px;
	text-align:center;
	margin-left:250px;
	border: 1px solid gray;
	font-size:20px;
}
.div2{
	margin-top:10%;
}

#btncommit{
	margin-left:778px;
	width:52px;
	height:25px;
	background:white;
	border:1px solid gray;
}